@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Quicksand&family=Rubik&display=swap');

@font-face {
	font-family: "Proxima Soft";
	src: url("/fonts/Proxima-Soft.otf");
}

@font-face {
	font-family: "Pesta Stencil";
	src: url("/fonts/PestaStencil-Regular.ttf");
}

@font-face {
	font-family: "Pesta Stencil";
	src: url("/fonts/PestaStencil-Bold.ttf");
	font-weight: bold;
}

/* .text-caveat {
	font-family: "Caveat", "Segoe UI", Tahoma, Geneva, Verdana, cursive;
} */
